@import '../../styles/helpers';

.BrandedSection {
  @include dark-bg;

  position: relative;
  padding: 60px 25px 40px;
  background: url('../../images/branded-bg.png') left top -30px no-repeat,
    linear-gradient(to bottom, $color-section-bg-1 0%, $color-section-bg-2 100%);
  background-size: 110%;
  background-blend-mode: luminosity;

  .header {
    position: relative;
    z-index: 10;
    padding-bottom: 40px;
    border-bottom: 1px solid $color-dark-grey;

    .headerLeft {
      display: flex;
      justify-content: center;
      margin-bottom: 50px;

      .headerImageMobile {
        img {
          max-width: 100%;
          max-height: 60px;
        }
      }

      .headerImageDesktop {
        display: none;

        img {
          height: 350px;
        }
      }
    }

    .headerRight {
      .description {
        margin-bottom: 35px;
        font-size: 1rem;
        line-height: 1.4;
      }

      .logos {
        display: flex;
        flex-wrap: wrap;
        gap: 10px 30px;
        align-items: center;
        justify-content: center;
        width: 250px;
        margin: 0 auto;

        img {
          height: 40px;
        }
      }
    }
  }

  @media (min-width: 480px) {
    .header {
      .headerRight {
        .logos {
          width: auto;
        }
      }
    }
  }

  @include narrow-desktop {
    padding: 100px 40px 40px;

    .header {
      display: flex;
      align-items: center;
      padding-bottom: 80px;

      .headerLeft {
        flex-shrink: 0;
        width: 50%;
        margin-bottom: 0;

        .headerImageMobile {
          display: none;
        }

        .headerImageDesktop {
          display: inherit;
        }
      }

      .headerRight {
        width: 50%;
        margin-right: 70px;

        .description {
          margin-bottom: 60px;
          font-size: 1.125rem;
          line-height: 1.5;
        }

        .logos {
          justify-content: flex-start;
        }
      }
    }
  }
}
