@import '../../../styles/helpers';

svg.IconInstagram {
  fill-rule: evenodd;
  clip-rule: evenodd;
  stroke-linejoin: round;
  stroke-miterlimit: 2;

  path {
    fill: #fff;
  }

  &:hover {
    path {
      fill: $color-time-red;
    }
  }
}
