@import '../../../styles/helpers';

.SectionAwardsGrid {
  @include default-section-padding;

  padding-top: 0;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .grid {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-row: 1;
      grid-column: 1 / 17;

      @include medium-up {
        grid-template-columns: repeat(4, 1fr);
        grid-column: 3 / 15;
      }
    }
  }

  @include medium-up {
    padding-top: 0;
  }
}
