@import '../../styles/helpers';

.Footer {
  padding: 30px 20px 0;
  font-size: 0.75rem;
  text-align: center;
  background: $color-white;
  border-top: 1px solid $color-grey;

  a {
    color: $color-red;

    &:hover {
      text-decoration: underline;
    }
  }

  .logo {
    display: inline-block;
    margin-bottom: 25px;

    svg {
      height: 30px;
    }
  }

  .links {
    display: flex;
    flex-direction: column;
    gap: 18px;
    align-items: center;
    justify-content: center;
    margin-bottom: 35px;

    a {
      color: #888;
      transition: color 0.3s;

      &:hover {
        color: $color-red;
        text-decoration: none;
      }
    }
  }

  .legal {
    padding: 20px 0;
    line-height: 1.8;
    border-top: 1px solid $color-grey;
  }

  @include tablet {
    padding: 35px 40px 0;

    .logo {
      margin-bottom: 20px;
    }

    .links {
      flex-direction: row;
      gap: 50px;
    }
  }
}
