@import '../../styles/helpers';

.Section {
  margin-bottom: 25px;

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: $section-content-margin;

    h2 {
      @include font-book-compressed;

      display: flex;
      align-items: center;
      margin: 0 $section-content-margin;
      font-size: 2.25rem;
      font-weight: normal;
      line-height: 0.85;
      text-transform: uppercase;
      letter-spacing: 0.025rem;

      &::before {
        flex-shrink: 0;
        width: 17px;
        height: 25px;
        margin: -11px 15px 0 0;
        content: '';
        background: $color-red;
      }
    }

    :global(.DownloadButton) {
      display: none;
      flex-shrink: 0;
      margin-right: 5px;
      margin-left: 30px;
      border: 1px solid $color-grey;
      transition: background-color 0.3s;

      &:hover {
        background: #f0f0f0;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }

  @include narrow-desktop {
    margin-bottom: 90px;

    .header {
      h2 {
        margin: 0;
        font-size: 5.5rem;
        letter-spacing: 0.06rem;

        &::before {
          width: 53px;
          height: 60px;
          margin: -18px 50px 0 0;
        }
      }

      :global(.DownloadButton) {
        display: flex;
      }
    }
  }
}
