@import '../../styles/helpers';

.AudienceCarousel {
  .carousel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;

    > div {
      flex-shrink: 0;
      width: 100%;
      scroll-snap-align: center;
    }

    .text {
      @include font-book-compressed;

      margin-top: -10px;
      text-transform: uppercase;

      .title {
        display: none;
        margin-bottom: 20px;
        font-size: 3rem;

        sup {
          top: -1.25em;
          font-size: 40%;
        }
      }

      .info {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        .icon {
          margin-bottom: 15px;

          img {
            width: auto;
            height: 50px;
          }
        }

        .number {
          padding-top: $line-height-offset;
          margin-bottom: -0.125rem;
          font-size: 2rem;
        }

        .label {
          font-size: 1.375rem;
        }
      }
    }

    .chart {
      display: flex;
      justify-content: center;

      /* stylelint-disable no-descending-specificity */
      img {
        height: 225px;
      }
      /* stylelint-enable no-descending-specificity */
    }

    &::-webkit-scrollbar {
      display: none;
      width: 0;
      background: transparent;
    }
  }

  .itemSelectors {
    display: flex;
    gap: 10px;
    justify-content: center;

    .itemSelector {
      width: 10px;
      height: 10px;
      cursor: pointer;
      background: $color-blue-grey;
      border-radius: 50%;
      opacity: 0.33;

      &.active {
        opacity: 0.75;
      }
    }
  }

  @include narrow-desktop {
    .carousel {
      > div {
        width: 33%;
      }

      .text {
        margin-top: 0;

        .title {
          display: block;
        }

        .info {
          flex-direction: row;
          text-align: left;

          .icon {
            margin: 0 25px 0 0;

            img {
              height: 45px;
            }
          }

          .number {
            font-size: 1.625rem;
          }

          .label {
            font-size: 1.125rem;
          }
        }
      }
    }

    .itemSelectors {
      display: none;
    }
  }
}
