@import '../../styles/helpers';

.Hero {
  @include oswald;

  display: flex;
  align-items: flex-end;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: $color-light-black;
  background-image: url('https://assets.time.com/afghan-women/afghan-women-mobile-grid-header.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;

  .text {
    z-index: 2;
    padding: 0 0 4rem;
    color: #fff;

    h1,
    .description {
      font-weight: normal;
      text-shadow: 1px 1px black;
    }

    h1 {
      padding: 0 0 1rem;
      font-size: 3.125rem;
      line-height: 0.88;
      letter-spacing: 0.056rem;
    }

    .description {
      @include roboto;

      font-size: 0.938rem;
      line-height: 1.27;
      letter-spacing: 0.014rem;
    }

    @include tablet {
      padding: 0 0 6rem;

      h1 {
        font-size: 5.313rem;
      }

      .description {
        font-size: 1.375rem;
      }
    }
  }

  @include small-tablet {
    resize: both;
    background-image: url('https://assets.time.com/afghan-women/afghan-women-web-grid-header.jpg');
    background-size: contain;
  }
}
