@import '../../styles/helpers';

.Hero {
  @include dark-bg;

  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 550px;
  margin-top: $section-content-margin;
  margin-bottom: 42.25px;
  background: url('../../images/hero-bg.png') center,
    linear-gradient(to bottom, $color-section-bg-1 0%, $color-section-bg-2 100%);
  background-size: cover;

  .overlay {
    @include overlay;

    background: linear-gradient(to top, $color-section-bg-2 0%, transparent 100%),
      radial-gradient(circle at center, $color-section-bg-2 0%, transparent 100%);
    border-radius: $section-content-border-radius;
  }

  .text {
    position: absolute;
    right: 20px;
    bottom: 6%;
    left: 20px;
    text-align: center;

    svg {
      width: 120px;
      margin-bottom: 20px;
    }

    .heading {
      @include font-book-compressed;

      width: 100%;
      max-width: 440px;
      margin: 0 auto 35px;
      font-size: 2rem;
      text-transform: uppercase;
      letter-spacing: 0.015rem;
    }

    .description {
      max-width: 440px;
      margin: 0 auto;
      font-size: 1rem;
      line-height: 1.33;
    }
  }

  @include narrow-desktop {
    height: calc(100vh - ($content-body-margin + $section-content-margin * 2 + $nav-height));
    min-height: 460px;
    max-height: 700px;
    padding: 0 40px;
    margin-bottom: $section-content-margin;

    .overlay {
      background: linear-gradient(to top, $color-section-bg-2 0%, transparent 100%),
        radial-gradient(ellipse at bottom 33% left 50%, $color-section-bg-2 0%, transparent 100%);
    }

    .text {
      position: absolute;
      bottom: 70px;

      svg {
        width: 190px;
        margin-bottom: 35px;
      }

      .heading {
        max-width: 840px;
        margin: 0 auto 15px;
        font-size: 3.5rem;
        letter-spacing: 0.035rem;
      }

      .description {
        max-width: 640px;
        font-size: 1.125rem;
        line-height: 1.5;
      }
    }

    &::after {
      display: none;
    }
  }
}
