// Settings - Variable configurations for things like colors, fonts, sizes, etc...

$ui-md-width: 150px;
$ui-lg-width: 320px;
$ui-sm-top-height: 60px;
$ui-sm-bottom-height: 60px;
$pad-sm: 10px;
$mar-sm: 10px;
$pad-md: 15px;
$mar-md: 15px;
$pad-lg: 20px;
$mar-lg: 20px;
$pad-xl: 30px;
$mar-xl: 30px;
$aqua: #6ee7fc;
$muted-blue: #eff2f8;
$light-blue: #0f9fff;
$blue: #0053d7;
$dark-blue: #072d72;
$green: #00b85f;
$red: #ff2630;
$dark-red: #b51a21;
$almost-black: #070505;
$purple: #c086f4;
$dark-purple: #8a19e1;
$skill-artistic: #271916;
$skill-conventional: #ffd700;
$skill-enterprising: #ff6e00;
$skill-investigative: #ff2630;
$skill-realistic: #00b85f;
$skill-social: #d79fff;
$skill-foreground-color: var(--skill-foreground-color, $almost-black);
$skill-background-color: var(--skill-background-color, $muted-blue);
$border-radius-ty: 6px;
$border-radius-sm: 20px;
$border-radius-md: 28px;
$border-radius-xs: 14px;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$extrabold-weight: 800;
$black-weight: 900;
$book-weight: 350;
$color-bar-height: 6px;
