@import '../../styles/helpers';

.Footer {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-gap: 0;
  max-width: $page-content-max-width;
  padding: $page-content-vertical-padding-mobile 0;
  margin: 0 auto;

  .inner {
    grid-row: 1;
    grid-column: 2 / 16;

    .socialIconsWrapper {
      text-align: center;
    }

    p {
      @include footer-text;

      text-align: center;
    }
  }

  @include medium-up {
    padding: $page-content-vertical-padding-desktop 0;
  }
}
