@import url('https://fonts.googleapis.com/css2?family=Material+Icons&family=Material+Icons+Outlined');

@font-face {
  font-family: 'ITCFranklinGothicStd-Book';
  src: url('../fonts/ITCFranklinGothicStd-Book.otf') format('opentype');
}

@font-face {
  font-family: 'ITCFranklinGothicStd-BkCp';
  src: url('../fonts/ITCFranklinGothicStd-BkCp.otf') format('opentype');
}

@font-face {
  font-family: 'ITCFranklinGothicStd-Demi';
  src: url('../fonts/ITCFranklinGothicStd-Demi.otf') format('opentype');
}

@font-face {
  font-family: 'ITCFranklinGothicStd-DmCp';
  src: url('../fonts/ITCFranklinGothicStd-DmCp.otf') format('opentype');
}

@font-face {
  font-family: 'ITCFranklinGothicStd-MdCd';
  src: url('../fonts/ITCFranklinGothicStd-MdCd.otf') format('opentype');
}
