/* Scss library normalizer */

/* https://github.com/JohnAlbin/normalize-scss */
@import '~normalize-scss/sass/normalize/import-now';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol,
li {
  padding: 0;
  margin: 0;
  text-indent: 0;
  list-style-type: none;
}

button {
  width: auto;
  padding: 0;
  margin: 0;
  overflow: visible;
  font: inherit;
  line-height: normal;
  color: inherit;
  background: transparent;
  border: none;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  appearance: none;
}
