// colors
$color-black: #000;
$color-white: #fff;
$color-grey: #cfcfcf;
$color-dark-grey: rgba(255 255 255 / 20%);
$color-blue-grey: #95a6b1;
$color-section-bg-1: #1b2d45;
$color-section-bg-2: #161d23;
$color-time-red: #cc0b0b;
$color-red: #a51718;
$color-dark-red: #901a12;
$color-light-red: #ad3e2a;

// sections
$content-body-margin: 37.5px;
$section-content-margin: 17.25px;
$section-content-border-radius: 18.75px;

// miscellaneous
$nav-height: 70px;
$line-height-offset: 0.3125rem;
