@import 'reset';
@import 'breakpoints';
@import 'variables';
@import 'fonts';
@import 'typography';

body {
  @include font-book;

  width: 100%;
  background: #f3f4f8;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;

  a {
    color: inherit;
    text-decoration: inherit;
  }

  &.disable-scroll {
    position: fixed;
    overflow-y: scroll;
  }
}
