@mixin aspect-ratio($percent: 100%) {
  &::before {
    float: left;
    padding-top: $percent;
    content: '';
  }

  &::after {
    display: block;
    clear: both;
    content: '';
  }
}

@mixin default-section-padding {
  max-width: $page-content-max-width;
  padding: $page-content-vertical-padding-mobile 0;
  margin: 0 auto;

  @include medium-up {
    padding: $page-content-vertical-padding-desktop 0;
  }
}

@mixin button-default {
  @include button-label;

  padding: 1.3rem 3.5rem;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 0.5rem;
  transition: color 0.1s $ease-out-quad, background-color 0.1s $ease-out-quad;

  &:hover {
    color: #fff !important;
    background-color: $color-time-red;
    border-color: $color-time-red;
  }
}

@mixin button-primary {
  @include button-default;

  color: #000;
  background-color: #fff;

  &:hover {
    color: #fff !important;
    background-color: $color-time-red;
    border-color: $color-time-red;
  }
}

@mixin button-mini {
  @include button-default;

  padding: 0.7rem 2rem;
  letter-spacing: 0.1rem;
}

@mixin heading-rule {
  position: relative;
  padding-bottom: 35px;

  &::after {
    position: absolute;
    bottom: 0;
    width: 65px;
    content: '';
    border-bottom: 1px solid $color-time-red;
  }
}

@mixin heading-rule-left {
  @include heading-rule;

  &::after {
    right: auto;
    left: 2px;
  }
}

@mixin heading-rule-right {
  @include heading-rule;

  &::after {
    right: 2px;
    left: auto;
  }
}
