@charset 'utf-8';
@import 'vars';
@import 'reset'; /* TODO: move this to core */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  width: 100%;
  font-size: 62.5%;
}

body {
  font-size: 1.8rem;
  color: $color-text-body;
  background-color: $color-background-dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
  -webkit-tap-highlight-color: rgb(0 0 0 / 0%);
  -webkit-tap-highlight-color: transparent;

  a {
    color: inherit;
    text-decoration: inherit;

    &:hover {
      text-decoration: underline;
    }
  }

  em {
    font-style: italic;
  }

  strong {
    font-weight: bold;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #fff;
  }
}

body.noscroll {
  overflow: hidden;
}
