@import 'fonts';
@import 'breakpoints';

@mixin oswald() {
  font-family: 'Oswald', 'Arial', sans-serif;
}

@mixin roboto() {
  font-family: 'Roboto', 'Arial', sans-serif;
}

@mixin zilla-slab() {
  font-family: 'Zilla Slab', 'Arial', sans-serif;
}
