// colors
$color-black: #000;
$color-light-black: #0f0d0d;
$color-white: #fff;
$font-pt-serif: 'PT Serif', georgia, times, serif !default;
$color-time-red-light: #ec3333;
$link-default: $color-time-red-light;
$link-visited: $color-time-red-light;
