@import 'reset';
@import 'breakpoints';
@import 'variables';
@import 'fonts';
@import 'typography';

body {
  width: 100%;
  background-color: $color-light-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
}
