@import '../../../styles/helpers';

$offset: 180px;

.SectionTeamGrid {
  @include default-section-padding;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .grid {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
      grid-row: 1;
      grid-column: 3 / 15;
      row-gap: 60px;
      column-gap: 6vw;

      @include small-up {
        grid-template-columns: repeat(2, 1fr);
        grid-column: 2 / 16;
      }

      @include large-up {
        grid-template-columns: repeat(3, 1fr);
        grid-column: 2 / 16;
        column-gap: 7vw;
      }

      @include xlarge-up {
        grid-column: 3 / 15;
      }

      @include xxlarge {
        column-gap: 110px;
      }
    }
  }
  @include small-up {
    margin-bottom: $offset;
  }
}
