@import '../../styles/helpers';

.ProjectGridItem {
  position: relative;

  .overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.35s $ease-out-cubic;
    will-change: opacity;

    h2,
    h3 {
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      padding: 6rem 2rem 2rem;
      text-shadow: 0 0 8px #000;
      background: rgb(0 0 0);
      background: linear-gradient(
        180deg,
        rgba($color-background-dark, 0) 0%,
        rgba($color-background-dark, 0.2) 10%,
        rgba($color-background-dark, 0.45) 20%,
        rgba($color-background-dark, 0.8) 40%,
        rgba($color-background-dark, 0.92) 65%,
        rgba($color-background-dark, 0.98) 100%
      );
      transition: transform 0.35s $ease-out-quint;
      transform: translate3d(0, 10%, 0);
      will-change: transform;
    }

    @include medium-up {
      opacity: 0;

      &:hover {
        opacity: 1;

        h2,
        h3 {
          transform: translate3d(0, 0, 0);
        }
      }
    }
  }

  .image {
    position: relative;

    &.aspect16x9 {
      @include aspect-ratio(56.25%);
    }

    &.aspect2x1 {
      @include aspect-ratio(50%);
    }

    &.aspect2x3 {
      @include aspect-ratio(150%);
    }

    img {
      position: absolute;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  h3.title {
    @include heading-h4;

    margin-top: 5px;
  }

  h2.title {
    @include heading-h3;

    margin-top: 10px;
  }

  a {
    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }
  }

  &.large {
    @include medium {
      &:nth-child(even) {
        top: $projects-grid-offset-medium;
      }
    }

    @include large {
      &:nth-child(even) {
        top: $projects-grid-offset-xlarge;
      }
    }

    @include xlarge-up {
      // Every third item starting from the second item
      &:nth-child(3n + 2) {
        top: $projects-grid-offset-xxlarge;
      }
    }
  }
}
