@import '../../styles/helpers';

.AudienceSection {
  @include dark-bg;

  padding: 87.5% 25px 50px;
  background: url('../../images/audience-bg.png') top -70px right -25px / 133% no-repeat,
    linear-gradient(to bottom, $color-section-bg-1 0%, $color-section-bg-2 50%, $color-section-bg-2 100%);
  background-blend-mode: lighten;

  .global {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;

    .globalChart {
      img {
        width: 100%;
        max-width: 300px;
      }
    }

    .globalHeader {
      max-width: 400px;
      margin-bottom: 40px;
      text-align: center;

      .number {
        @include font-book-compressed;

        font-size: 3.25rem;
        color: $color-time-red;
        text-transform: uppercase;
      }

      .title {
        @include font-book-compressed;

        margin-bottom: 10px;
        font-size: 1.875rem;
        text-transform: uppercase;
      }

      .description {
        font-size: 1;
        line-height: 1.4;
      }
    }
  }

  .social {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;

    .socialHeader {
      @include font-book-compressed;

      margin-bottom: 35px;
      text-align: center;
      text-transform: uppercase;

      .number {
        font-size: 3.25rem;
        color: $color-time-red;
      }

      .title {
        font-size: 1.625rem;
      }
    }

    .socialItems {
      display: flex;
      flex-wrap: wrap;
      max-width: 300px;
      margin: 0 auto;

      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 33%;
        margin-bottom: 35px;

        .icon {
          display: flex;
          flex-shrink: 0;
          align-items: center;
          justify-content: center;
          height: 32px;
          margin-bottom: 15px;

          img {
            width: 32px;
            height: auto;
          }
        }

        .number {
          @include font-book-compressed;

          display: flex;
          align-items: center;
          justify-content: center;
          width: 6.875rem;
          font-size: 1.125rem;
          color: $color-blue-grey;
          text-transform: uppercase;

          .million {
            display: none;
          }

          &::after {
            content: 'M';
          }
        }
      }
    }
  }

  .readers {
    margin-bottom: 45px;

    .mapContainer {
      .map {
        display: none;
      }

      .readersHeader {
        @include font-book-compressed;

        margin-bottom: 40px;
        text-align: center;
        text-transform: uppercase;

        .number {
          font-size: 3.25rem;
          color: $color-time-red;
        }

        .title {
          font-size: 1.625rem;
        }
      }

      .mapCallout {
        max-width: 13rem;
        margin: 0 auto 15px;

        .mapCalloutInner {
          @include font-book-compressed;

          display: flex;
          font-size: 1.625rem;
          text-transform: uppercase;

          .title {
            width: 5rem;
            color: $color-time-red;
          }

          sup {
            top: -0.7em;
            font-size: 60%;
          }
        }
      }
    }
  }

  .brandReach {
    margin: 0 -25px 45px;
    border-top: 1px solid $color-dark-grey;

    .row {
      padding: 45px 0;
      border-bottom: 1px solid $color-dark-grey;

      .rowTitle {
        @include font-book-compressed;

        margin-bottom: 20px;
        font-size: 2.25rem;
        text-align: center;
        text-transform: uppercase;

        /* stylelint-disable no-descending-specificity */
        sup {
          top: -1em;
          font-size: 45%;
        }
        /* stylelint-enable no-descending-specificity */
      }
    }
  }

  .sources {
    font-size: 0.875rem;
    font-style: italic;
    line-height: 1.44;
    color: rgba(255 255 255 / 40%);
    text-align: center;
  }

  @include tablet {
    padding-top: 75%;
    background: url('../../images/audience-bg.png') top -170px right -50px / 125% no-repeat,
      linear-gradient(to bottom, $color-section-bg-1 0%, $color-section-bg-2 50%, $color-section-bg-2 100%);
  }

  @include narrow-desktop {
    padding: 120px 30px 70px;
    background: url('../../images/audience-bg.png') top -4% right -4% / 50% no-repeat,
      linear-gradient(to bottom, $color-section-bg-1 0%, $color-section-bg-2 50%, $color-section-bg-2 100%);

    .global {
      flex-direction: row;
      padding: 0 15px;
      margin-bottom: 150px;

      .globalChart {
        order: 1;
        margin-right: 70px;

        img {
          width: 250px;
        }
      }

      .globalHeader {
        order: 2;
        margin-bottom: 0;
        text-align: left;

        .number {
          margin-bottom: -0.5rem;
          font-size: 5.5rem;
        }

        .title {
          font-size: 3rem;
        }

        .description {
          font-size: 1.125rem;
        }
      }
    }

    .social {
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-between;
      padding: 0 60px;
      margin-bottom: 80px;

      .socialHeader {
        min-width: 13.5rem;
        margin: 0 30px 0 0;
        text-align: right;

        .number {
          font-size: 3rem;
        }

        .title {
          font-size: 3rem;
        }
      }

      .socialItems {
        justify-content: flex-end;
        max-width: 600px;

        .item {
          flex-direction: row;
          justify-content: flex-end;
          width: calc(33% - 15px);
          margin-right: 15px;
          margin-bottom: 25px;

          .icon {
            width: 50px;
            margin: 0 5px 0 0;

            img {
              width: auto;
              height: 20px;
            }
          }

          .number {
            padding-top: $line-height-offset;
            font-size: 1.5rem;

            .million {
              display: inline;
            }

            &::after {
              content: '';
            }
          }
        }
      }
    }

    .readers {
      padding-bottom: 0;
      margin-bottom: 40px;

      .mapContainer {
        position: relative;

        .map {
          display: block;
          user-select: none;
        }

        .readersHeader {
          position: absolute;
          bottom: 6%;
          left: 60px;
          margin-bottom: 0;
          text-align: left;

          .number {
            margin-bottom: -0.3125rem;
            font-size: 3rem;
          }

          .title {
            font-size: 3rem;
          }
        }

        .mapCallout {
          position: absolute;
          width: 20%;

          .mapCalloutInner {
            display: block;
            padding: 6px 15px 4px;
            font-size: 1.75rem;
            background: linear-gradient(to right, #0d1d2a, transparent);
            border-left: 6px solid $color-red;

            .sup {
              top: -0.6em;
              font-size: 60%;
            }
          }

          &.readersUs {
            top: 27%;
            left: 16%;
          }

          &.readersEmea {
            top: 37%;
            left: 46%;
          }

          &.readersApac {
            top: 50%;
            left: 75.5%;
          }
        }
      }
    }

    .brandReach {
      margin: 0 60px 60px;

      .row {
        padding: 60px 0;
        overflow-x: visible;

        .rowTitle {
          display: none;
        }
      }
    }
  }
}
