@use '../../../styles/utils';

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;

  div {
    width: 10px;
    height: 10px;
    border: 0 solid black;
    border-radius: 50%;
  }

  hr {
    height: 80px;
    margin: 0;
    border: 0 solid;
  }

  h3 {
    display: flex;
    padding-top: utils.$pad-sm;
    font-size: 28px;
    font-weight: utils.$extrabold-weight;
    color: utils.$almost-black;
    text-align: center;
  }

  &[data-offset='true'] {
    margin-top: -30px;
    margin-bottom: 20px;
  }
}

@include utils.bp-any(md) {
  .root {
    padding-bottom: utils.$pad-md;
  }
}
