@import '../../../styles/helpers';

.PressListItem {
  width: 100%;
  margin-bottom: 80px;

  .date,
  .publication,
  .headline {
    display: block;
  }

  .date,
  .publication {
    @include eyebrow;
  }

  .publication {
    @include heading-rule-left;

    padding-bottom: 2.5rem;
    margin-top: 0.8rem;

    .projectLinkDesktop {
      display: none;

      @include medium-up {
        display: inline-block;

        a,
        a:link,
        a:visited,
        a:hover,
        a:active {
          text-decoration: none;
        }

        @include medium-up {
          a:hover {
            color: $color-time-red;
          }
        }
      }
    }

    @include medium-up {
      padding-bottom: 1.8rem;
    }
  }

  a {
    h3.headline {
      @include heading-h3;

      margin-top: 2rem;

      .openNew {
        position: relative;
        top: -5px;
        display: none;
        width: 22px;
        height: 22px;
        margin-left: 0.3rem;
        font-size: 0;
        line-height: 0;
        vertical-align: middle;

        @include medium-up {
          display: inline-block;
        }
      }

      @include small-down {
        line-height: 1.2;
      }

      @include medium-up {
        @include heading-h2;

        margin-top: 1rem;
        transition: color 0.1s $ease-out-quad;
      }
    }

    &,
    &:link,
    &:visited,
    &:hover,
    &:active {
      text-decoration: none;
    }

    @include medium-up {
      &:hover {
        .headline {
          color: $color-time-red;
        }
      }
    }
  }

  .projectLinkMobile {
    display: block;

    span {
      a,
      a:link,
      a:visited,
      a:hover,
      a:active {
        @include button-mini;

        display: inline-block;
        margin-top: 2rem;
        text-decoration: none;
      }
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}
