@import '../../../styles/helpers';

.SectionPressList {
  @include default-section-padding;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .pressListWrapper {
      grid-row: 1;
      grid-column: 2 / 16;

      .eyebrow {
        @include eyebrow;

        display: block;
        margin-bottom: 1.8rem;
        color: $color-time-red;

        @include medium-up {
          margin-bottom: 2.6rem;
        }
      }

      .button {
        display: inline-block;
        margin-top: 35px;

        &.secondary {
          @include button-default;
        }
      }

      @include medium-up {
        grid-column: 3 / 15;
      }

      @include large-up {
        grid-column: 4 / 14;
      }
    }
  }
}
