@use '../styles/utils';

.root {
  display: flex;
  flex-flow: column nowrap;
}

.industry-image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100% !important;
  height: 120px !important;
  margin-bottom: 15px;

  &,
  img {
    border-radius: utils.$border-radius-ty;
  }
}

.link-industry {
  display: flex;
  align-items: center;
  justify-content: center;
}

.link-title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 800;
  line-height: 31.69px;
  color: #fff;
}

.primary-image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 100%;
  height: auto;

  &,
  img {
    border-radius: utils.$border-radius-ty utils.$border-radius-ty 0 0;
  }
}

.blank-industry {
  margin-block-start: 135px;
}

.title {
  padding-top: 16px;
  padding-bottom: 6px;
  font-size: 18px;
  font-weight: utils.$extrabold-weight;
  line-height: 1.25em;

  a {
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.tags {
  margin-bottom: 7px;
}

.imageWrapper {
  position: relative;
}

.description {
  font-size: 16px;
  line-height: 1.5em;
}

.copyWrapper {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
}

.copy {
  flex-grow: 1;
}

.favorite {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
}

@include utils.bp-any(sm) {
  .copyWrapper {
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
  }

  .tags {
    font-size: 11px;
  }

  .blank-industry {
    margin-top: 0;
  }
}

@include utils.bp-any(md, lg) {
  .copyWrapper {
    padding: 0 20px 20px;
  }

  .tags {
    font-size: 12px;
  }
}
