@use '../styles/utils';

.root {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon {
  > path {
    stroke-width: 1;
  }
}

.button {
  width: inherit;
  height: inherit;
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
}

.sizeSmall {
  &.corner {
    width: 30px;
    height: 30px;
  }

  .icon {
    width: 18px;
  }
}

.sizeMedium {
  &.corner {
    width: 55px;
    height: 55px;
  }

  .icon {
    width: 26px;
  }
}
