@use '../styles/utils';

.root {
  position: relative;
}

.loading {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 800;
  transform: translate(-50%, -50%);
}

.root[data-show='0'] {
  .loading {
    display: none;
  }
}

.root[data-show='1'] {
  .children {
    visibility: hidden;
  }
}
