@use '../styles/utils';

.root {
  padding-top: 15px;
  padding-right: 20px;
  margin-bottom: 30px;
  font-family: 'Montserrat', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: utils.$semibold-weight;
  line-height: 1em;
  text-align: right;

  a {
    color: utils.$blue;

    &:hover {
      text-decoration: none;
    }
  }
}
