@use '../styles/utils';

.primaryImageContainer {
  border-bottom: 4px solid utils.$light-blue;
}

.eventDate {
  color: utils.$blue;
}

.meetingLink {
  display: block;
  margin-top: 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1em;
  color: utils.$blue;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
