.root {
  width: 40px;
  height: 40px;
  padding: 0;
  cursor: pointer;
  background: transparent;
  background: url('../assets/components/modal-x/icon.png') center center no-repeat;
  background-size: contain;
  border: none;
  appearance: none;
}
