@use '../styles/utils';

.root {
  display: block;
}

.title {
  max-width: 178px;
  margin: auto;
  font-size: 21px;
  font-weight: utils.$semibold-weight;
  text-align: center;
}

.maContainer {
  gap: 15px;
  max-width: 1087px;
  margin: 0 auto;
  margin-block-end: 40px;
}

@include utils.bp-any(sm) {
  .title {
    margin-block-end: 10px;
  }

  .content {
    margin-block-end: 25px;
  }
}

@include utils.bp-any(md, lg) {
  .maContainer {
    display: flex;
    justify-content: center;
  }

  .title {
    padding-block-end: 40px;
  }

  .content {
    display: flex;
    flex: 345px 1 1;
    max-width: 345px;
  }

  @media all and (max-width: 1200px) {
    .maContainer {
      flex-wrap: wrap;
    }

    .content {
      flex: calc(50% - 15px) 1 1;
    }
  }
}
