.root {
  position: relative;
}

.toggle {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 34px;
  height: 24px;
  cursor: pointer;
  background: transparent;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  border: none;
  transform: translate(0, -50%);
  appearance: none;

  &[data-visible='1'] {
    background-image: url('../assets/components/password-field/password-visible.png');
  }

  &[data-visible='0'] {
    background-image: url('../assets/components/password-field/password-invisible.png');
  }
}
