.root {
  display: block;
  width: 26px;
  height: 23px;
  padding: 0;
  cursor: pointer;
  background: url('../assets/components/print-button/icon-print.png');
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
}
