@import '../../styles/helpers';

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
  background: rgba(0 0 0 / 70%);
  backdrop-filter: blur(3px);
  opacity: 0;
  transition: all 0.3s;

  &.active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}

.Modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  max-width: 700px;
  color: $color-black;
  pointer-events: none;
  visibility: hidden;
  background: $color-white;
  opacity: 0;
  transition: all 0.3s;
  transform: translate(-50%, -50%);

  .closeBtn {
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    color: $color-dark-red;
    cursor: pointer;
  }

  &.opened {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }
}
