@import '../../styles/helpers';

.SocialIcons {
  width: 100%;
  margin: 0 auto;

  ul {
    li {
      display: inline-block;
      width: 30px;
      height: 30px;
      margin-right: 20px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
