@import '../../styles/helpers';

.BrandedCarousel {
  position: relative;
  z-index: 10;

  .navMobile {
    @include dropdown;
    @include font-book-compressed;

    padding: calc(8px + $line-height-offset) 60px 8px 20px;
    margin: 30px auto;
    font-size: 1.125rem;
    color: $color-white;
    background-color: #40535d;
    background-image: linear-gradient(45deg, transparent 50%, $color-white 50%),
      linear-gradient(135deg, $color-white 50%, transparent 50%),
      linear-gradient(to right, $color-section-bg-2, $color-section-bg-2);
    background-repeat: no-repeat;
    background-position: calc(100% - 20px) calc(50% + 1px), calc(100% - 15px) calc(50% + 1px), calc(100% - 40px) 0;
    background-size: 5px 5px, 5px 5px, 1px 100%;
    border-radius: 5px;
  }

  .navDesktop {
    @include font-book-compressed;

    display: none;
    justify-content: center;
    height: 70px;
    font-size: 1.375rem;

    li {
      display: flex;
      align-items: center;
      margin-right: 25px;

      a {
        margin-top: $line-height-offset;
        text-transform: uppercase;
        cursor: pointer;
        transition: color 0.3s;

        &:not(.active) {
          color: #656d74;
        }

        &:hover {
          color: $color-white;
        }
      }

      &::after {
        margin: $line-height-offset 0 0 25px;
        content: '•';
      }

      &:last-child {
        margin-right: 0;

        &::after {
          margin: 0;
          content: '';
        }
      }
    }
  }

  @include narrow-desktop {
    .navMobile {
      display: none;
    }

    .navDesktop {
      display: flex;
    }

    .items {
      position: relative;
      width: 100%;
      height: 50%;
      padding-top: 50%;
    }
  }
}
