@import '../../../styles/helpers';

.SectionProjectRelated {
  @include default-section-padding;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .relatedWrapper {
      grid-row: 1;
      grid-column: 1 / 17;

      h2 {
        @include heading-h3;
      }

      ul {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 40px;
        margin-top: 20px;

        @include medium-up {
          grid-template-columns: repeat(2, 1fr);
        }

        @include large-up {
          margin-top: 30px;
        }
      }

      @include medium-up {
        grid-row: 1;
        grid-column: 3 / 15;
      }

      @include xlarge-up {
        grid-row: 1;
        grid-column: 4 / 14;
      }
    }
  }
}
