@import '../../styles/helpers';

.AdCategory {
  .categoryHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 15px;
    margin-bottom: 25px;
    cursor: pointer;
    border-bottom: 1px solid $color-dark-grey;

    .categoryTitle {
      @include font-book-compressed;

      font-size: 2rem;
      font-weight: normal;
      text-transform: uppercase;
      letter-spacing: 0.025rem;
    }

    :global(.DownloadButton) {
      display: none;
      border: 1px solid $color-grey;
      transition: background-color 0.3s;

      &:hover {
        background: rgba(255 255 255 / 8%);
      }
    }

    .arrowIcon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 24px;
      height: 24px;
      background: rgba(149 166 177 / 30%);
      border-radius: 50%;
      transform: translateY(-$line-height-offset);

      .arrowIconInner {
        width: 0;
        height: 0;
        border-color: $color-white transparent transparent transparent;
        border-style: solid;
        border-width: 6.9px 4px 0;
        transform: translateY(1px);
      }
    }
  }

  .categoryItems {
    display: none;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px 30px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 60px;

    .item {
      display: flex;
      align-items: center;
      min-height: 45px;
      padding: 25px 20px 25px 15px;
      cursor: pointer;
      background: rgba(255 255 255 / 10%);
      border-radius: 5px;
      transition: background-color 0.3s;

      img {
        display: block;
        height: 80px;
        margin: -20px 0;
      }

      .itemTitle {
        @include font-book-compressed;

        padding-top: $line-height-offset;
        margin-left: 20px;
        font-size: 1.0625rem;
        text-transform: uppercase;
      }

      &:hover {
        background: rgba(255 255 255 / 17.5%);
      }
    }
  }

  &.opened {
    .categoryHeader {
      .arrowIcon {
        .arrowIconInner {
          border-color: transparent transparent $color-white transparent;
          border-width: 0 4px 6.9px;
          transform: translateY(-1px);
        }
      }
    }

    .categoryItems {
      display: grid;
    }
  }

  &:last-child {
    .categoryItems {
      margin-bottom: 0;
    }

    &:not(.opened) {
      .categoryHeader {
        margin-bottom: 0;
      }
    }
  }

  @include narrow-desktop {
    .categoryHeader {
      align-items: flex-start;
      padding-bottom: 0;
      margin-bottom: 50px;
      cursor: auto;

      .categoryTitle {
        font-size: 3rem;
      }

      :global(.DownloadButton) {
        display: flex;
      }

      .arrowIcon {
        display: none;
      }
    }

    .categoryItems {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
      margin-bottom: 80px;

      .item {
        min-height: 70px;

        img {
          height: 90px;
        }

        .itemTitle {
          font-size: 1.125rem;
        }
      }
    }

    &:last-child {
      &:not(.opened) {
        .categoryHeader {
          margin-bottom: 55px;
        }
      }
    }
  }
}
