@import '../../styles/helpers';

.Press {
  max-width: 100%;
  margin: 0 auto;
  margin-top: $header-offset-mobile;
  overflow: hidden;

  .content {
    padding: 0 12px;

    @include medium-up {
      padding: 0;
    }
  }

  @include medium-up {
    margin-top: $header-offset-desktop;
  }
}
