@import '../../../../styles/helpers';

$offset: 180px;
$offset-medium: 220px;

.TeamGridItem {
  max-width: 100%;
  overflow: hidden;
  cursor: pointer;

  .image {
    @include aspect-ratio(125%);

    position: relative;
    background-color: $color-img-background;

    img {
      position: absolute;
      display: block;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }

    @include medium-up {
      opacity: 0.9;
      transition: opacity 0.1s $ease-out-quad;
      will-change: opacity;
    }
  }

  .text {
    position: relative;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 0;
    margin-top: -40px;
    transition: transform 0.2s $ease-out-quad;
    transform: translate3d(0, 0, 0);
    will-change: transform;

    .rule {
      z-index: 1;
      grid-row: 1/2;
      grid-column: 2/3;
      height: 60px;
      border-left: 1px solid $color-time-red;
    }

    .ruleName {
      grid-row: 2;
      grid-column: 2/3;
      border-left: 1px solid $color-time-red;
    }

    .name,
    .title {
      display: block;
      grid-column: 3 / 13;
      color: #fff;
    }

    .name {
      @include heading-h3;

      grid-row: 2;

      @include medium-up {
        will-change: color;
        transition: color 0.1s $ease-out-quad;
      }
    }

    .title {
      @include body-text-p;

      grid-row: 3;
      margin-top: 1.5rem;
      line-height: 1.5;

      @include medium-up {
        color: #ddd;
        transition: color 0.1s $ease-out-quad;
        will-change: color;
      }
    }
  }

  @include small {
    &:nth-child(even) {
      position: relative;
      top: $offset;
    }
  }

  @include medium {
    &:nth-child(even) {
      position: relative;
      top: $offset-medium;
    }
  }

  @include large-up {
    &:nth-child(2),
    &:nth-child(5),
    &:nth-child(8),
    &:nth-child(11),
    &:nth-child(14),
    &:nth-child(17),
    &:nth-child(20) {
      position: relative;
      top: $offset-medium;
    }
  }

  @include medium-up {
    &:hover {
      .image {
        filter: brightness(1.05);
        opacity: 1;
      }

      .text {
        transform: translate3d(0, -5px, 0);

        .name {
          color: $color-time-red;
        }

        .title {
          color: #fff;
        }
      }
    }
  }
}
