@import '../../styles/helpers';

$single-column-max-width: 42.625rem;

.Image {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
  align-items: center;
  margin: 0 0 4.063rem;

  img {
    width: 100%;
  }

  span {
    @include roboto;

    margin: 0 1.563rem;
    font-size: 0.813rem;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.017rem;

    @include tablet {
      margin: unset;
    }
  }

  @include tablet {
    gap: 1.563rem;
    max-width: $single-column-max-width;
  }
}

.ImageMobile {
  display: flex;
  flex-direction: column;
  gap: 0.563rem;
  align-items: center;
  margin: 0 0 4.063rem;

  img {
    width: 100%;
  }

  span {
    @include roboto;

    margin: 0 1.563rem;
    font-size: 0.813rem;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.017rem;

    @include tablet {
      margin: unset;
    }
  }

  @include tablet {
    display: none;
  }
}

.Triptych {
  display: none;
  max-width: 80vw;
  margin: 0 0 4.063rem;

  img {
    width: 100%;
  }

  span {
    @include roboto;

    font-size: 0.813rem;
    font-weight: normal;
    line-height: 1.15;
    letter-spacing: 0.017rem;
  }

  @include tablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.Text {
  max-width: $single-column-max-width;
  margin: 0 1rem 4.063rem;

  p {
    font-size: 1.063rem;

    > span {
      float: left;
      margin: -22px 8px -6px 0;
      font-size: 5.313rem;
    }

    @include tablet {
      padding: unset;
      font-size: 1.125rem;
    }
  }

  @include tablet {
    margin: 0 0 4.063rem;
  }
}
