@import '../../../styles/helpers';

.Heading {
  @include default-section-padding;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .headingWrapper {
      grid-row: 1;
      grid-column: 1 / 17;
      text-align: left;

      h1 {
        @include heading-h1;
        @include heading-rule-left;

        display: block;
      }

      @include medium-up {
        grid-row: 1;
        grid-column: 5 / 13;
      }

      @include large-up {
        grid-column: 5 / 13;
      }
    }
  }
}
