@import '../../../styles/helpers';

.SectionProjectOpener {
  @include default-section-padding;

  .inner {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-gap: 0;

    .titleWrapper {
      grid-row: 1;
      grid-column: 1 / 17;

      h1 {
        @include heading-h1;
        @include heading-rule-left;

        max-width: 800px;
      }

      @include medium-up {
        grid-row: 1;
        grid-column: 4 / 14;
      }
    }

    .descriptionWrapper {
      grid-row: 2;
      grid-column: 1 / 17;
      margin-top: 35px;

      p {
        @include body-text-p-strong;
      }

      @include medium-up {
        grid-row: 2;
        grid-column: 4 / 14;
      }
    }
  }
}
